/* Grid */
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  height: 100vh;
}


video {
  /*  display: none;  */
  
    /*position: absolute;
    height: 100vh;
    width: 100vw;
  
    object-fit: cover;
    object-position: center;*/


    /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
    
    z-index: -1;
  }


.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  /*grid-gap: 1em;*/
  place-items: center;
}

/* Widgets */
section {
  padding: 1em;
  padding: 1em 4em;
  /* Relative Parent. Absolute Child */
  position: relative;
  box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
    15px 25px 10px rgba(0,0,0,0.05),
    15px 20px 20px rgba(0,0,0,0.05),
    inset -10px -10px 15px rgba(225,225,225,0.9);
  border-radius: 50%;
 
}

/* Time */
.time {
  padding: 5em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 7;
}

.hours {
  font-size: 2em;
}

.minutes {
  font-size: 2em;
}

.seconds {
  font-size: 1.25em;
}

.amOrPM {
  
}

/* Date */
.date {
  padding: 5em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.month {
  font-size: 2em;
}

.dayOfMonth {
  font-size: 2em;
}

.year {
  font-size: 1.25em;
}

.dayOfWeek {
}

/* Weather */
.weather {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 9;
  display: grid;
  place-items: center;
  
}

.city {
  font-size: 3em;
}

.temp {
  font-size: 1.25em;
  
}

.weather img {
}
